---
import { getPosts } from '@/lib/sortedCollection';

import PostsByYearList from '../../components/PostsByYearList.astro';
import PageLayout from '../../layouts/PageLayout.astro';

export async function getStaticPaths() {
  const allPosts = await getPosts();
  const uniqueCategories = [...new Set(allPosts.flatMap((post) => post.data.categories))];

  return uniqueCategories.map((category) => {
    const filteredPosts = allPosts.filter((post) => post.data.categories.includes(category));

    return {
      params: { category },
      props: { posts: filteredPosts },
    };
  });
}

type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props'];

const { category } = Astro.params;
const { posts } = Astro.props;

const pageTitle = `Category: ${category}`;
---

<PageLayout pageTitle={pageTitle} className="flex flex-col gap-10 px-6">
  <h2 class="text-2xl font-medium mb-3">
    Explore all posts in category <strong>{category}</strong>{' '}
    <span class="text-muted-foreground font-normal">({posts.length})</span>
  </h2>
  <PostsByYearList posts={posts} />
</PageLayout>
