---
import type { CollectionEntry } from 'astro:content';

import BaseLayout from './BaseLayout.astro';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
---

<BaseLayout pageTitle={post.data.title}>
  <p>{post.data.pubDate.toLocaleDateString()}</p>
  <p><em>{post.data.description}</em></p>
  <p>Written by: {post.data.author}</p>
  {post.data.image && <img src={post.data.image.url} width="300" alt={post.data.image.alt} />}
  <div class="tags">
    {
      post.data.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
