---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import { Category } from '../components/Category';
import Tag from '../components/Tag.astro';
import PageLayout from './PageLayout.astro';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
---

<PageLayout pageTitle={post.data.title} className="flex flex-col items-center">
  {
    post.data.image && (
      <Image
        src={post.data.image.src}
        alt={post.data.image.alt}
        class="max-h-120 w-full object-cover bg-center border-t border-b md:border border-primary"
      />
    )
  }
  <article class="flex flex-col px-6 mt-4 max-w-3xl w-full">
    <h1 class="text-3xl font-bold">{post.data.title}</h1>
    <div>Published on: <span class="text-gray-500 italic">{post.data.pubDate.toLocaleDateString()}</span></div>
    <p class="mb-1">Written by: <span class="text-gray-500 italic">{post.data.author}</span></p>
    {
      post.data.category && (
        <p class="mb-1">
          Category: <Category category={post.data.category} client:load />
        </p>
      )
    }
    <div class="flex items-center gap-2">
      <span>Tags:</span>
      <ul class="flex flex-wrap list-none m-0 pl-0">
        {
          post.data.tags.map((tag: string, index: number) => (
            <li class="flex gap-2">
              {index > 0 && ', '}
              <Tag tag={tag} />
            </li>
          ))
        }
      </ul>
    </div>

    <div class="mt-8">
      <slot />
    </div>
  </article>
</PageLayout>
