---
import Excerpt from '@/components/Excerpt.astro';
import { PostReadMoreButton, PostTitleLinkButton } from '@/components/PostLinkButton';
import type { CollectionEntry } from 'astro:content';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const maxTextWidth = 'max-w-3xl w-full';
---

<article class="flex flex-col items-center gap-3">
  {
    post.data.image && (
      <img
        src={post.data.image.url}
        alt={post.data.image.alt}
        width="100%"
        class="max-h-120 w-full object-cover bg-center"
      />
    )
  }
  <div class="flex flex-col items-center w-full">
    <h2 class={`${maxTextWidth} px-2 md:px-0 text-2xl font-bold`}>
      <PostTitleLinkButton id={post.id} title={post.data.title} />
    </h2>
    <p class={`${maxTextWidth} px-6 md:px-4 text-gray-500 italic`}>{post.data.pubDate.toLocaleDateString('en-au')}</p>
  </div>
  <div class={`${maxTextWidth} px-6 md:px-4 flex flex-col gap-2`}>
    <Excerpt post={post} />
    <PostReadMoreButton id={post.id} />
  </div>
</article>
